.carousel-container {
  margin: 0 auto;
  padding: 20px;
  width: 1100px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


.carousel-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  border-radius: 10px;
  margin-right: 50px;
  position: relative;
}

.carousel-item .image-wrapper {
  filter: blur(2px); 
  object-fit: cover;
}

.carousel-item .image-wrapper img{
  width: 500px;
  height: 300px;

}

.text-overlay {
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 35%; 
  left: 45%; 
  transform: translate(-50%, -50%); 
  z-index: 1;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.slick-prev,
.slick-next {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-180%);
  z-index: 3;
  cursor: pointer;
}

.slick-prev:before {
  content: "↜";
  color: #ff9e00;
  font-size: 150px;
  opacity: 95%;
}

.slick-next:before {
  content: "↝";
  color: #ff9e00;
  font-size: 150px;
  opacity: 95%;
}

.gray-button {
	width: 145px;
	height: 41px;
	padding: 0px 10px 0px 10px;
	background: #ebebeb;
	color: #606060;
	border-color: #ebebeb;
	border-width: 1px;
	border-style: solid;
	border-radius: 1px 1px 1px 1px;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
}
.slick-next:hover{
  opacity: 70%;
}
.slick-prev:hover{
  opacity: 70%;
}