
.background-grey {
    position: relative;
    overflow: hidden;
    height: 400px;
    margin-top:-50px;
    padding-bottom: 50px;
}
.background-grey::before {
    background-color: #ebebeb;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(7px); 
    opacity: 40%;
    z-index: -1; 
}

.content {
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70vh; 
}

.moto {
	color: #606060;
	font-weight: 300;
	font-size: 40px;
	line-height: 1;
	letter-spacing: 2px;
	text-align: center;
}


.pretrazi-search {
	width: 182px;
	height: 54px;
	padding: 0px 10px 0px 10px;
	background: #00418e;
	color: #ffffff;
	border-color: #00418e;
	border-width: 1px;
	border-style: solid;
	border-radius: 1px 1px 1px 1px;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
}

main {
    margin-top: 100px; 
}

.search-bar {
    width: 528px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #606060;
    display: flex;
    align-items: center;
    padding-left: 10px; 
    
}

.search-icon {
    color: #606060;
    margin-right: 10px; 
}

.search-input-searchpage {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #606060;
    font-size: 16px;
    outline: none;
}
.search-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-div {
    flex: 1;
    border-right: 1px solid #ccc;
}

.left-div h2 {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.left-div h2 {
	color: #606060;
	font-weight: 300;
	font-size: 36px;
	line-height: 1;
	letter-spacing: 2px;
	text-align: center;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top:15px;
    background-color: #ff9800; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1px;
    gap: 15px;
}

.tab:hover {
    background-color: #ffa726; 
}

.tab-options {
    display: none;
    flex-direction: column;
    background-color: white;
    color: #333; 
    border-top: 1px solid #ccc; 
    
}

.active .tab-options {
    display: block;
}

.tab-header{
    display: flex;
    align-items: flex-start;
}

.tab-title {
    flex: 1;
    text-align: left; 
    padding-left: 15px;
}

.tab-chevron {
    text-align: right; 
    padding-right: 15px;
}

.tab-options .tab-option {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc; 
    transition: background-color 0.3s;
    text-align: left;
}

.tab-options .tab-option:hover:not(.dodatni-filteri) {
    background-color: #ffc581;
    color: white;
}
.tab-option:not(.tab-option-checkbox):hover {
    background-color: transparent;
    color: #333;
}


.right-div {
    flex: 3;
    padding-bottom: 300px;

}

.right-div h2 {
	opacity: 80%;
	color: #606060;
	font-weight: 300;
	font-size: 36px;
	line-height: 1.3;
	text-align: center;
}

.searchgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-left: 100px;
}

.searchgrid-item {
    padding: 10px;
    display: flex;

}

.searchitem-details{
    display: flex;
    flex-direction: column;
}

.searchgrid-item img {
    width: 118px;
    height: 143px;
    border: 1px solid black;
    margin-right: 30px;
}

.searchgrid-item h3 {
	height: 43px;
	color: #606060;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
    margin-top: -3px;
}

.search-rating {
    font-size: 24px;
    color: #00418e;
    text-align: left;
    margin-top: -20px ;
    margin-bottom: 20px;

}

.searchgrid-item-price {
	width: 44px;
	height: 49px;
	color: #606060;
	font-weight: 300;
	font-size: 21px;
	line-height: 1.3;
	text-align: left;

}
